node_modules/
artifacts/
playwright-report/
test-results/
.env
.idea
.husky

# Playwright
/playwright-report/
/blob-report/
/allure-results/
/.allure-history/
/playwright/.cache/
/playwright/.auth/
.auth/
